@use 'helpers' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
    background-color: $x-light;
    margin: 0;
    padding: 0;
}

// Typography
h1,
h2 {
    @include font(1.5rem, 600);

}

h3 {
    @include font(1.5rem, 600);
    text-transform: uppercase;
}

h4 {
    @include font(1rem, 600);
}

h5,
p {
    @include font(1rem, 500, $medium)
}

a,
a:visited,
a:hover {
    color: $dark;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

// Containers
@each $key,
$val in $sizes {
    .container-#{$key} {
        max-width: $val;
        margin: 0 auto;
        padding: 1rem;
    }
}