// Colors
$white: #FFFFFF;
$black: #000000;
$dark: #4F4F4F;
$medium: #828282;
$light: #C4C4C4;
$x-light: #F2F2F2;
$primary: #2F80ED;

// Breakpoints
$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

// Container sizes
$sizes: (
    "full": 100%,
    "lg": 1240px,
    "md": 960px
);