<header class="profile">
    <img src="../assets/profile.jpeg" alt="" class="profile__img">
    <div>
        <div class="profile__details">
            <div class="profile__title">
                <h1>Guillaume Duran</h1>
                <h5>Front-end developer</h5>
            </div>
            <div class="profile__contact">
                <div>
                    <span class="material-symbols-outlined">
                        mail
                    </span> <a href="mailto:guillaumeduran2@gmail.com">guillaumeduran2@gmail.com</a>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        call
                    </span><a href="tel:+33668929141">(+33) 6 68 92 91 41</a>
                </div>
            </div>
        </div>
        <div class="profile__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste ipsam natus. Sint ad omnis
                atque
                nam ipsum, amet placeat ipsam laudantium, laboriosam veniam dolorem dolore cupiditate nihil culpa
                dignissimos?</p>
        </div>
    </div>
</header>