@use '../helpers' as *;

.profile {
    @include shadow;
    @include radius;
    background-color: $white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    @include md {
        flex-wrap: nowrap;
    }

    >div {
        @include md {
            padding-left: 2rem;
        }
    }

    &__img {
        @include radius;
        margin-bottom: 2rem;

        @include md {
            max-width: 300px;
            margin-bottom: 0;
        }
    }

    &__contact {
        margin: 2rem 0;

        >div {
            display: flex;
            align-items: center;
            margin-bottom: .5rem;

            span {
                font-size: 1.5rem;
                color: $dark;
                margin-right: .5rem;
            }
        }
    }
}